#head {
    text-align: center;
    color:  blueviolet;
    background-color: chocolate;
    font-size: 40px;
    font-family:'微軟正黑體';
    height: 100px;
    width: 100%;
}
#link{
    text-align: left;
    color:  chocolate;
    font-family: fantasy;
    border: 9px outset forestgreen ;
    font-size: 100px;
    height: 500px;
    width: 50%;
}
